[submodule "Backend"]
    path = Backend
    url = https://github.com/miyurugunarathna/plantme.git
[submodule "Frontend"]
    path = Frontend
    url = hhttps://github.com/dilafar/Plantme-frontend.git