[submodule "plantme"]
	path = plantme
	url = https://github.com/miyurugunarathna/plantme.git
[submodule "Plantme-frontend"]
	path = Plantme-frontend
	url = https://github.com/dilafar/Plantme-frontend.git
